<!DOCTYPE html>
<html>

        <head>
          <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
          <title>My First Blog</title>

        </head>

        <body>
        <div class="post">

          <div class="date">December 25th 2015</div>
          <h2>My First Blog</h2>
          <h3>This is a link to to the about Page!</h3>

          <%= link_to "Alpha Blog", articles_path %> | <%= link_to "About", about_path %>

      <p class="quote">Short ribs leberkas biltong chicken boudin jowl andouille. Brisket pastrami meatloaf, tri-tip hamburger shank filet mignon t-bone prosciutto ball tip capicola porchetta drumstick. T-bone pastrami pancetta ham hock strip steak, shankle landjaeger pork belly. Tenderloin kevin andouille shankle, chuck salami filet mignon flank. Turkey chuck rump pork.
      </p>

      <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
			<p>Tongue alcatra cillum drumstick venison veniam. Shankle drumstick occaecat, pancetta flank tri-tip quis ut capicola venison consectetur deserunt tenderloin. Tongue pariatur id, bresaola alcatra labore dolor commodo prosciutto. Proident doner tongue frankfurter eiusmod fugiat bacon. Reprehenderit aute cupidatat flank sirloin chicken drumstick eu rump cupim. Quis leberkas spare ribs porchetta, tenderloin beef ribs swine anim non chicken consectetur excepteur duis.
			</p>
			<hr>

		</div>

		<div class="post">
			<div class="date">December 30th 2015</div>
				<h2>My Second Blog</h2>
				<p class="quote">Veniam deserunt capicola tempor meatball landjaeger ham dolor jerky ex venison boudin. Beef cillum commodo, quis aliquip bresaola pork chop ex dolore. Kevin meatloaf porchetta anim excepteur corned beef. Tempor meatball consectetur reprehenderit. Aliqua eiusmod eu occaecat. Nostrud aliqua cillum deserunt veniam commodo sausage pig dolor.
				</p>
				<p>Bacon ipsum dolor amet porchetta brisket ut, bresaola filet mignon irure landjaeger non. Cillum frankfurter elit sint, pork chop officia et ball tip. Ad beef laboris cow, turkey swine pork chop meatball et porchetta cupidatat rump proident picanha capicola. Est boudin velit culpa swine biltong shank aute consectetur in laborum pastrami meatball spare ribs anim
				</p>
				<p>Veniam deserunt capicola tempor meatball landjaeger ham dolor jerky ex venison boudin. Beef cillum commodo, quis aliquip bresaola pork chop ex dolore. Kevin meatloaf porchetta anim excepteur corned beef. Tempor meatball consectetur reprehenderit. Aliqua eiusmod eu occaecat. Nostrud aliqua cillum deserunt veniam commodo sausage pig dolor.
					</p>
		</div>
	</body>
</html>